/* Reset defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* === Header Styling === */
header {
    height: 15vh;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    color: #fff;
}

header .left,
header .right {
    width: 50%;
}

/* Header Left */
header .left {
    display: flex;
    align-items: center;
    gap: 15px;
}

header .left img {
    width: 10%;
    height: auto;
}

header .left h1 {
    font-size: 45px;
    font-weight: 600;
}

/* Header Right */
header form {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    align-items: center;
}

header .right input {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-size: 16px;
    transition: 0.2s;
}

header .right input:focus {
    border-color: #2a5298;
    background-color: #fff;
}

#email,
#password {
    width: 40%;
}

#login-btn, .sign-up {
    width: auto;
    padding: 10px 20px;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    /* border: none; */
    color: white;
    font-weight: 600;
    cursor: pointer;
}

#login-btn:hover, .sign-up:hover {
    background: linear-gradient(135deg, #17407f, #264b8d);
    border: 1px solid white;
    transition: background 0.3s ease;

}

/* === Banner Section === */
section {
    display: flex;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
    padding: 50px 30px;
    background-color: #f2f6fa;
    flex-wrap: wrap;
}

section img {
    width: 30vw;
    /* max-width: 30vw; */
    height: auto;
}

section h1 {
    font-size: 30px;
    color: #1e3c72;
    max-width: 500px;
    line-height: 1.4;
    margin-bottom: 40px;

}

/* === Footer === */
footer {
    height: 5vh;
    background-color: #1e3c72;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

